rabbit.host=
rabbit.port=
rabbit.virtualhost=
rabbit.username=
rabbit.password=
rabbit.queuename=
vrtexchange.name=
vrtexchange.routingkey=

port=

db.host=
db.port=
db.username=
db.password=
db.database=
db.buffer=
db.messageevents=
db.skryv_refresh_token=

skryv.host=
skryv.client_id=
skryv.client_secret=

elasticsearch.host=

proxy.host=

slack.hook=